<footer class="section bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">EDUGATE</h6>
          <ul class="list-unstyled footer-link mt-4">
            <li><a>Edugate is a great start for an education personnel or organization to start the online
                business with 1 Click.</a></li>
            <hr>
            <li><a><i class="fa fa-envelope"></i> hello@edugate.com</a></li>
            <hr>
            <li><a><i class="fa fa-phone"></i> P:000-000-0000</a></li>
            <hr>
            <li><a><i class="fa fa-map-marker"></i> 99 Barnard St - Suite 111 United States - GA 22222</a></li>
            <hr>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">Ressources</h6>
          <ul class="list-unstyled footer-link mt-4">
            <li><a href="">Monitoring Grader </a></li>
            <hr>
            <li><a href="">Video Tutorial</a></li>
            <hr>
            <li><a href="">Term &amp; Service</a></li>
            <hr>
            <li><a href="">Zeeko API</a></li>
            <hr>
          </ul>
        </div>
      </div>

      <div class="col-md-2">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">Help</h6>
          <ul class="list-unstyled footer-link mt-4">
            <li><a href="">Sign Up </a></li>
            <hr>
            <li><a href="">Login</a></li>
            <hr>
            <li><a href="">Terms of Services</a></li>
            <hr>
            <li><a href="">Privacy Policy</a></li>
            <hr>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
          <p class="contact-info mt-4">Contact us if need help withanything</p>
          <p class="contact-info">+01 123-456-7890</p>
          <div class="mt-5">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#"><i class="fab facebook footer-social-icon fa-facebook-f social"></i></a>
              </li>
              <li class="list-inline-item"><a href="#"><i class="fab twitter footer-social-icon fa-twitter social"></i></a>
              </li>
              <li class="list-inline-item"><a href="#"><i class="fab google footer-social-icon fa-google social"></i></a>
              </li>
              <li class="list-inline-item"><a href="#"><i class="fab apple footer-social-icon fa-apple social"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="text-center mt-5">
    <hr>
    <p class="footer-alt mb-0 f-14">2019 ©EDUGATE, All Rights Reserved</p>
  </div>
</footer>