.teachers{
    margin-top:3%;
    /*margin-bottom: 3%;*/
    padding-bottom: 3%;
    background-image: url('../../assets/img/back-teachers.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}
h2,h4{
    font-family: 'kiona';
    text-align: center;
    color: #FFF;
    margin-top:0px;
    margin-bottom: 0px;
}
h2{
    margin-bottom: 3% !important;
}
h4{
    margin-top: 3% !important;
    padding-top:5%;
}
.fa-school{
    color: #86bc42;
}
.slide{
    transition: background-color 0.5s ease;
    margin-left: 15px;
    margin-right: 15px;
    background-color:#FFF;
    padding-top:30px;
    padding-bottom:50px;
}

img{
    transition: height 0.5s ease;
    transition: width 0.5s ease;
    border-radius: 50%;
    display: block;
    margin:0px auto;
    width:50% !important;
}
.teacher-name{
    color:#000;
}
.icons{
    padding-top:30px;
    transition: color 0.7s ease;
    color:#888;
    font-size:20px;
}
.hidden-description{
    opacity: 0;
    font-size: 12px;
    display: none;
}
.details{
    //height: 75px;
}
.slide:hover{
    background-color:#86bc42;
    height: fit-content;
    img{
        width:30% !important;
        height:30%;
    }
    .icons{
        color:#FFF;
    }
    .teacher-name{
        color:#FFF;
        font-size: 16px;
        font-weight: 800;
    }
    .hidden-description{
        opacity: 1;
        color:#FFF;
        font-size: 12px;
        display: block;
        z-index: 5;
        margin-left: 5px;
        margin-right: 5px;
    }
}
