<div class='whatwegive'>
  <div class="container">
    <div class="row">
      <div class="col-md-4"><i class="fas fa-edit d-inline"></i><p class="d-inline">Over 600 free tutorial</p></div>
      <div class="col-md-4"><i class="fas fa-file-code d-inline"></i><p class="d-inline">Refund if not Satisfied</p></div>
      <div class="col-md-4"><i class="fas fa-paper-plane d-inline"></i><p class="d-inline">Easy to learning everytime, everywhere</p></div>
    </div>
    <div class="row">
      <div class="col-md-4"><i class="fas fa-folder-open d-inline"></i><p class="d-inline">Over 3000 Ebook a-vailable</p></div>
      <div class="col-md-4"><i class="fas fa-wrench d-inline"></i><p class="d-inline">Free updates & support</p></div>
      <div class="col-md-4"><i class="fab fa-paypal d-inline"></i><p class="d-inline">Flexible payment methods</p></div>
    </div>
  </div>
</div>