<div class="course">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top card1" src='../../assets/img/1.png' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Photography Master </h5>
            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></p>
            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
            <a href="#" class="btn btn-primary">Follow Course &nbsp;<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top card2" src="../../assets/img/1.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title </h5>
            <p><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
            <a href="#" class="btn btn-primary">Follow Course &nbsp;<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="card">
            <img class="card-img-top card3" src="../../assets/img/1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title </h5>
              <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></p>
              <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
              <a href="#" class="btn btn-primary">Follow Course &nbsp;<i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>