<app-dashboard-navbar></app-dashboard-navbar>
<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/11.jpeg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <ngx-alerts style="font-family: 'kiona' !important;"></ngx-alerts>
      <div class="owner">
        <div class="avatar">
          <img src="./assets/img/avatar/{{profile_pic}}" alt="Circle Image"
            class="img-circle img-no-padding img-responsive">
        </div>
        <div class="name">
          <h4 class="title">{{assistantDetails['first_name']}}&nbsp; {{assistantDetails['last_name']}}<br/></h4>
        </div>
      </div>
      <h4>Personal Information<span class="req-f"></span><br></h4>
      <div class="row">
        <div class="col-md-6 mr-auto ml-auto">
          <label>First Name </label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-circle-10"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="First Name" (focus)="focus=true" (blur)="focus=false"
            [(ngModel)]="assistantDetails['first_name']" name='firstName'>
          </div>
          <label>Last Name </label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-circle-10"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Last Name" (focus)="focus=true" (blur)="focus=false"
            [(ngModel)]="assistantDetails['last_name']" name='lastName'>
          </div>
          <label>Telephone </label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-mobile"></i>
              </span>
            </div>
            <input type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Telephone"
            [(ngModel)]="assistantDetails['telephone']['land']" (focus)="focus=true" (blur)="focus=false" name='telephone'>
          </div>
          <label>Mobile Phone</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-mobile"></i>
              </span>
            </div>
            <input input type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Mobile Phone"
            [(ngModel)]="assistantDetails['telephone']['mobile']" (focus)="focus=true" (blur)="focus=false"  name='mobilePhone'>
          </div>
          <!-- <label>Admission Date *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-paper"></i>
              </span>
            </div>
            <input type="date" class="form-control" placeholder="Birthday" (focus)="focus=true" (blur)="focus=false"
            [(ngModel)]="assistantDetails['admission_date']" name='admissiondate'>
          </div> -->
        </div>
        <div class="col-md-6 mr-auto ml-auto">
          <label>Address </label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-map-big"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Address" (focus)="focus=true" (blur)="focus=false"
            [(ngModel)]="assistantDetails['address']['lines']" name='address'>
          </div>
          <label>City </label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-map-big"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="City" (focus)="focus=true" (blur)="focus=false"
            [(ngModel)]="assistantDetails['address']['city']" name='city'>
          </div>
          <!-- <label>Birthday *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-time-alarm"></i>
              </span>
            </div>
            <input type="date" class="form-control" placeholder="Birthday" (focus)="focus=true" (blur)="focus=false"
            [(ngModel)]="new Date(assistantDetails['birthday'])" name='birthday'>
          </div> -->
          <label>NIC </label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-credit-card"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="NIC" (focus)="focus=true" (blur)="focus=false"
            [(ngModel)]="assistantDetails['nic']" name='nic'>
          </div>
        </div>
      </div><br>
      <label>Classes Teaching </label>
      <div fxLayout="row" fxLayoutAlign="center">
          <div class="table" style="padding: 20px;">
            <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [columns]="columns"
              [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [selected]="selected"
              [selectionType]="'multiClick'" (select)="selectClass($event)">
            </ngx-datatable>
          </div>
        </div>
      <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
          <button class="btn btn-default btn-round" (click)='editAssistant()'>Edit Assistant</button>
        </div>
      </div>
    </div>
  </div>
</div>