<div class="wrapper">
  <!-- <div class="page-header" style="background-image: url('./assets/img/3.jpg');"> -->
  <div class="filter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
        <div class="card card-register">
          <h3 class="title">Students</h3>
          <div class="social-line text-center">
            <i class="fas fa-user-graduate"></i>
          </div>
          <div class="forgot" *ngIf='students'>
            <a class="btn btn-link btn-forgot-password" (click)='addStudent()'><i class='fas fa-plus-circle'></i>Add</a>
          </div>
          <div class="forgot">
            <a class="btn btn-link btn-forgot-password" (click)='searchStudent()'><i class='fas fa-search'></i>Search</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
        <div class="card card-register">
          <h3 class="title">Teachers</h3>
          <div class="social-line text-center">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
          <div class="forgot" *ngIf='teachers && assistants && students'>
            <a href="#" class="btn btn-link btn-forgot-password"><i class='fas fa-plus-circle'></i>Add</a>
          </div>
          <div class="forgot">
            <a href="#" class="btn btn-link btn-forgot-password"><i class='fas fa-search'></i>Search</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
        <div class="card card-register">
          <h3 class="title">Classes</h3>
          <div class="social-line text-center">
            <i class="fas fa-users"></i>
          </div>
          <div class="forgot" *ngIf='assistants && students'>
            <a href="#" class="btn btn-link btn-forgot-password"><i class='fas fa-plus-circle'></i>Add</a>
          </div>
          <div class="forgot">
            <a href="#" class="btn btn-link btn-forgot-password"><i class='fas fa-search'></i>Search</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
        <div class="card card-register">
          <h3 class="title">Assistants</h3>
          <div class="social-line text-center">
            <i class="fas fa-headset"></i>
          </div>
          <div class="forgot"  *ngIf='teachers && assistants && students'>
            <a href="#" class="btn btn-link btn-forgot-password"><i class='fas fa-plus-circle'></i>Add</a>
          </div>
          <div class="forgot">
            <a href="#" class="btn btn-link btn-forgot-password"><i class='fas fa-search'></i>Search</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
        <div class="card card-register">
          <h3 class="title">Attendance</h3>
          <div class="social-line text-center">
            <i class="fas fa-clipboard-list"></i>
          </div>
          <div class="forgot"  *ngIf='teachers && students'>
            <a href="#" class="btn btn-link btn-forgot-password"><i class='fas fa-check-circle'></i>Mark</a>
          </div>
          <div class="forgot" *ngIf='assistants'>
            <a href="#" class="btn btn-link btn-forgot-password"><i class='fas fa-eye'></i>View</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
        <div class="card card-register">
          <h3 class="title">Reports</h3>
          <div class="social-line text-center">
            <i class="fas fa-chart-line"></i>
          </div>
          <div class="forgot">
            <a href="#" class="btn btn-link btn-forgot-password"><i class='fas fa-plus-circle'></i>Forgot password?</a>
          </div>
          <div class="forgot">
            <a href="#" class="btn btn-link btn-forgot-password"><i class='fas fa-search'></i>Forgot password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>