/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-bar-rating/themes/br-fontawesome-o-theme.css';
@import '../node_modules/ngx-bar-rating/themes/br-fontawesome-theme.css';
@import '../node_modules//ngx-bar-rating/themes/br-default-theme.css';
@font-face {
    font-family: 'kiona';
    src: url(assets/fonts/Kiona-Regular.ttf) format("truetype");
}
body {
    margin: 0 !important;
}
.owl-prev,
.owl-next{
    font-size: 54px !important;
}
.owl-prev:hover{
    background-color: transparent !important;
}
.owl-next:hover{
    background-color: transparent !important;
}
.owl-next:active,.owl-next:focus,.owl-prev:active,.owl-prev:focus{
    border: none !important;
    outline:none !important;
}