<app-dashboard-navbar></app-dashboard-navbar>
<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/8.png');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img src="./assets/img/avatar/{{profile_pic}}" alt="Circle Image"
            class="img-circle img-no-padding img-responsive">
        </div>
        <div class="name">
          <h4 class="title">Add New Student<br /></h4>
        </div>
      </div>
      <h4>Personal Information <br><span class="req-f">* Required Fields</span><br><span class="req-f"><i class="fas fa-check-circle"></i>&nbsp;to
          select the details as the same details filled earlier</span><br><span class="req-f"><i
            class="fas fa-plus-circle"></i>&nbsp;to select details from a list</span></h4>
      <div class="row">
        <div class="col-md-6 mr-auto ml-auto">
          <label>First Name *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-circle-10"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="First Name" (focus)="focus=true" (blur)="focus=false"
              [(ngModel)]='personalInfo.firstName' name='firstName'>
          </div>
          <label>Last Name *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-circle-10"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Last Name" (focus)="focus=true" (blur)="focus=false"
              [(ngModel)]='personalInfo.lastName' name='lastName'>
          </div>
          <label>Telephone *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-mobile"></i>
              </span>
            </div>
            <input type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Telephone"
              (focus)="focus=true" (blur)="focus=false" [(ngModel)]='personalInfo.telephone' name='telephone'>
          </div>
          <label>Mobile Phone</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-mobile"></i>
              </span>
            </div>
            <input input type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Mobile Phone"
              (focus)="focus=true" (blur)="focus=false" [(ngModel)]='personalInfo.mobilePhone' name='mobilePhone'>
          </div>
        </div>
        <div class="col-md-6 mr-auto ml-auto">
          <label>Address *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-map-big"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Address" (focus)="focus=true" (blur)="focus=false"
              [(ngModel)]='personalInfo.address' name='address'>
          </div>
          <label>City *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-map-big"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="City" (focus)="focus=true" (blur)="focus=false"
              [(ngModel)]='personalInfo.city' name='City'>
          </div>
          <label>Birthday *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-time-alarm"></i>
              </span>
            </div>
            <input type="date" class="form-control" placeholder="Birthday" (focus)="focus=true" (blur)="focus=false"
              [(ngModel)]='personalInfo.birthday' name='birthday'>
          </div>
        </div>
      </div><br>
      <h4>Guardian Information</h4>
      <div class="row">
        <div class="col-md-6 mr-auto ml-auto">
          <label>Name *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-circle-10"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false"
              [(ngModel)]='guardinaInfo.name' name='name'>
          </div>
          <label>Telephone *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-mobile"></i>
              </span>
            </div>
            <input type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Telephone"
              (focus)="focus=true" (blur)="focus=false" [(ngModel)]='guardinaInfo.telephone' name='telephone'>
            <div class="input-group-append" (click)="sameTelephone()">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-check-circle"
                  aria-hidden="true"></i></span>
            </div>
          </div>
          <label>Emergency Contact *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-mobile"></i>
              </span>
            </div>
            <input input type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
              placeholder="Emergency Contact" (focus)="focus=true" (blur)="focus=false"
              [(ngModel)]='guardinaInfo.emergency' name='emergency'>
            <div class="input-group-append" (click)="sameEmergency()">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-check-circle"
                  aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 mr-auto ml-auto">
          <label>Address *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-map-big"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Address" (focus)="focus=true" (blur)="focus=false"
              [(ngModel)]='guardinaInfo.address' name='address'>
            <div class="input-group-append" (click)="sameAddress()">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-check-circle"
                  aria-hidden="true"></i></span>
            </div>
          </div>
          <label>City *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-map-big"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="City" (focus)="focus=true" (blur)="focus=false"
              [(ngModel)]='guardinaInfo.city' name='city'>
            <div class="input-group-append" (click)="sameCity()">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-check-circle"
                  aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
      </div><br>
      <h4>Class Information</h4>
      <div class="row">
        <div class="col-md-6 mr-auto ml-auto">
          <label>Admission Date *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-time-alarm"></i>
              </span>
            </div>
            <input type="date" class="form-control" placeholder="Admission Date" (focus)="focus=true"
            [(ngModel)]='admissionDate' name='admissionDate' (blur)="focus=false">
          </div>
          <label>Classes *</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-single-copy-04"></i>
              </span>
            </div>
            <input input type="text" class="form-control" placeholder="Classes" (focus)="focus=true"
              (blur)="focus=false" disabled>
            <div class="input-group-append" (click)="open(content)">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-plus-circle"
                  aria-hidden="true"></i></span>
            </div>
          </div>
          <!--model-->
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h5 class="modal-title text-center">Add Classes</h5>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <div class="table" style="padding: 20px;">
                <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50"
                  [rowHeight]="'auto'" [limit]="10" [selected]="selected" [selectionType]="'multiClick'" (select)="selectClass($event)">
                </ngx-datatable>
              </div>
            </div>
            <div class="modal-footer">
              <div class="left-side">
                <button type="button" class="btn btn-default btn-link" (click)="d('Close click')">Add Classes</button>
              </div>
              <div class="divider"></div>
              <div class="right-side">
                <button type="button" class="btn btn-danger btn-link" (click)="d('Close click')">Never Mind</button>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="col-md-6 mr-auto ml-auto">
          <label>Admission Batch *</label>
          <ng-template #content1 let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h5 class="modal-title text-center">Add Batch</h5>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-check-radio" *ngFor='let batch of batches'>
              <label class="form-check-label" >
                <input class="form-check-input" [(ngModel)]="batchDetails" type="radio" name="batchDetails" value="{{batch['year']}}{{batch['category']}}" >
                {{batch['category']}} &nbsp; {{batch['year']}}
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="modal-footer">
              <div class="left-side">
                <button type="button" class="btn btn-default btn-link" (click)="d('Close click')">Add Batch</button>
              </div>
              <div class="divider"></div>
              <div class="right-side">
                <button type="button" class="btn btn-danger btn-link" (click)="d('Close click')">Never Mind</button>
              </div>
            </div>
          </ng-template>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-single-copy-04"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Admission Batch" (focus)="focus=true"
              (blur)="focus=false" disabled [(ngModel)]="batchDetails" name='batchDetails'>
            <div class="input-group-append" (click)='openBatch(content1)'>
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-plus-circle"
                  aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
          <button class="btn btn-default btn-round" (click)='addStudent()'>Add Student</button>
        </div>
      </div>
    </div>
  </div>
</div>